# 自编写新版配置文件，旨在优化代码并防止规则冲突。
# 代理组
proxy-groups:
  # 节点信息
  - name: 节点信息
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Server.png
    type: select
    include-all: true
    filter: (?i)剩余流量|下次重置|套餐到期

  # 通用节点选择
  - name: 节点选择
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Proxy.png
    type: select
    proxies:
      - 自动选择
      - 香港节点
      - 台湾节点
      - 新加坡节点
      - 日本节点
      - 美国节点
      - 故障转移
      - DIRECT

  # 常用区域节点自动选择
  - name: 自动选择
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Auto.png
    type: url-test
    interval: 300
    tolerance: 50
    proxies:
      - 香港节点
      - 台湾节点
      - 新加坡节点
      - 日本节点

  # 节点故障自动转移
  - name: 故障转移
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Drill.png
    type: fallback
    include-all: true
    filter: (?i)香港|HK|台湾|TW|新加坡|SG|日本|JP
    url: https://www.gstatic.com/generate_204
    interval: 250

  # 分流节点
  - name: OpenAi服务
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/ChatGPT.png
    type: select
    proxies:
      - 节点选择
      - 美国节点
      - DIRECT
  - name: 微软CDN服务
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Microsoft.png
    type: select
    proxies:
      - 节点选择
      - DIRECT
  - name: 必应服务
    icon: https://raw.githubusercontent.com/Orz-3/mini/refs/heads/master/Color/Bing.png
    type: select
    proxies:
      - 节点选择
      - DIRECT
  - name: 微软服务
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Microsoft.png
    type: select
    proxies:
      - 节点选择
      - DIRECT
  - name: 微软Copilot
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Copilot.png
    type: select
    proxies:
      - 节点选择
      - DIRECT
  - name: 谷歌服务
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Google_Search.png
    type: select
    proxies:
      - 节点选择
      - DIRECT
  - name: Spotify音乐
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Spotify.png
    type: select
    proxies:
      - 节点选择
      - 尼日利亚节点
      - DIRECT
  - name: 国外媒体
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/ForeignMedia.png
    type: select
    proxies:
      - 节点选择
      - DIRECT
  - name: 微软OneDrive云盘
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/OneDrive.png
    type: select
    proxies:
      - 节点选择
      - DIRECT

  # 广告拦截
  - name: 广告拦截
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/AdBlack.png
    type: select
    proxies:
      - REJECT
      - DIRECT

  # 地区节点
  - name: 香港节点
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Hong_Kong.png
    include-all: true
    type: url-test
    interval: 300
    tolerance: 50
    filter: (?i)香港|HK
  - name: 台湾节点
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Taiwan.png
    include-all: true
    type: url-test
    interval: 300
    tolerance: 50
    filter: (?i)台湾|TW
  - name: 新加坡节点
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Singapore.png
    include-all: true
    type: url-test
    interval: 300
    tolerance: 50
    filter: (?i)新加坡|SG
  - name: 日本节点
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Japan.png
    include-all: true
    type: url-test
    interval: 300
    tolerance: 50
    filter: (?i)日本|JP
  - name: 美国节点
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/United_States.png
    include-all: true
    type: url-test
    interval: 300
    tolerance: 50
    filter: (?i)美国|US
  - name: 尼日利亚节点
    icon: https://raw.githubusercontent.com/lipis/flag-icons/5f40463ce1d8731f4e22dcb8acbc715b01573c54/flags/1x1/ng.svg
    include-all: true
    type: url-test
    interval: 300
    tolerance: 50
    filter: (?i)尼日利亚|NG

  # 全局节点
  - name: GLOBAL
    icon: https://raw.githubusercontent.com/Koolson/Qure/refs/heads/master/IconSet/Color/Global.png
    type: select
    proxies:
      - 自动选择
      - 香港节点
      - 台湾节点
      - 新加坡节点
      - 日本节点
      - 美国节点
      - 故障转移
      - DIRECT

# 规则提供组
rule-providers:
  # 全局直连
  # 中国大陆域名
  ChinaDomain:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/ChinaDomain.list
    path: ./ruleset/ChinaDomain.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 本地局域网
  LocalAreaNetwork:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/LocalAreaNetwork.list
    path: ./ruleset/LocalAreaNetwork.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 中国公司ip
  ChinaCompanyIp:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/ChinaCompanyIp.list
    path: ./ruleset/ChinaCompanyIp.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 下载
  Download:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Download.list
    path: ./ruleset/Download.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # Stun(Tailscale)
  Stun:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Stun.list
    path: ./ruleset/Stun.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 规则全局代理
  # Google FCM 推送
  GoogleFCM:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/GoogleFCM.list
    path: ./ruleset/GoogleFCM.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # GFWList 代理
  ProxyGFWList:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/ProxyGFWlist.list
    path: ./ruleset/ProxyGFWlist.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 全球
  Global:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Global.list
    path: ./ruleset/Global.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 规则手动代理
  # OpenAi 相关
  OpenAi:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/OpenAi.list
    path: ./ruleset/OpenAi.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # MicrosoftCDN
  MicrosoftCDN:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/MicrosoftCDN.list
    path: ./ruleset/MicrosoftCDN.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 必应搜索
  Bing:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Bing.list
    path: ./ruleset/Bing.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 微软服务
  Microsoft:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Microsoft.list
    path: ./ruleset/Microsoft.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 微软 Copilot
  Copilot:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Copilot.list
    path: ./ruleset/Copilot.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 谷歌服务
  Google:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Google.list
    path: ./ruleset/Google.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # Spotify 音乐
  Spotify:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/Spotify.list
    path: ./ruleset/Spotify.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 国外媒体
  ProxyMedia:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/ProxyMedia.list
    path: ./ruleset/ProxyMedia.list
    format: text
    behavior: classical
    type: http
    interval: 86400

  # 微软 OneDrive 云盘
  OneDrive:
    url: https://ruleset.zcsouls.com/Rules/Clash%20Meta/OneDrive.list
    path: ./ruleset/OneDrive.list
    format: text
    behavior: classical
    type: http
    interval: 86400
  
  # 广告
  # 广告域名
  AdGuard:
    url: https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/reject.txt
    path: ./ruleset/reject.txt
    format: text
    behavior: classical
    type: http
    interval: 86400

# 规则
rules:
  - RULE-SET,ChinaDomain,DIRECT
  - RULE-SET,LocalAreaNetwork,DIRECT
  - RULE-SET,ChinaCompanyIp,DIRECT
  - RULE-SET,Download,DIRECT
  - RULE-SET,Stun,DIRECT
  - RULE-SET,OpenAi,OpenAi服务
  - RULE-SET,MicrosoftCDN,微软CDN服务
  - RULE-SET,Bing,必应服务
  - RULE-SET,Microsoft,微软服务
  - RULE-SET,Copilot,微软Copilot
  - RULE-SET,OneDrive,微软OneDrive云盘
  - RULE-SET,Google,谷歌服务
  - RULE-SET,Spotify,Spotify音乐
  - RULE-SET,ProxyMedia,国外媒体
  - RULE-SET,GoogleFCM,节点选择
  - RULE-SET,ProxyGFWList,节点选择
  - RULE-SET,Global,节点选择
  - RULE-SET,AdGuard,广告拦截
  - GEOIP,CN,DIRECT
  - MATCH,节点选择
